html
{
	margin:0;
	padding:0;
	overflow-y: scroll; 
	font-family: 'Fjalla One', sans-serif;
}

ul
{
	list-style-type: none;
}

a
{
	text-decoration: none;
	color: white;
	transition: 0.5s ease-in-out;
}

a:visited
{
	color:white;
}

a:hover
{
	color: white;
	text-decoration: underline;
}

#title
{
	font-size: 150%;
	color: gray;
	transition: 0.5s ease-in-out;
}

#title:hover
{
	color:black;
}

#subtitle
{
	font-size: 75%;
}

#container
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position:absolute;
}

#leftcontent
{
	position: fixed;
	margin-top: 25px;
	margin-left: 25px;
	padding-left: 10px;
	float: left;
	width:25%;
	color: #bdbdbd;
	min-height: 100%;
	max-height: 100%;
	overflow-y: scroll;
}

#leftcontent li
{
	border-bottom: 4px solid #bdbdbd;
	border-bottom-width: 100%;
	margin-top: 25%;
	height:100%;
	font-size: 200%;
}

#rightcontent
{
	position: relative;
	float: right;
	width:76%;
	padding-left: 1px;
	max-height: auto;
	min-height: 100%;
	background-color: Orchid;
	color: white;
	transition: 0.5s ease-in-out;
}

#rightTitle
{
	margin-top: 50px;
	text-align: center;
	font-size: 250%;
	
}

#leftInfo
{
	float: left;
	position: relative;
	text-align: justify;
	padding-left: 15%;
	font-size: 100%;
}

#rightInfo
{
	float: right;
	position: relative;
	text-align: justify;
	padding-right: 15%;
	font-size: 100%;
}

#title-150
{
	text-align: center;
	font-size: 150%;
}

#title-125
{
	text-align: center;
	font-size: 125%;
}

#about
{
	color: Orchid;
	border-bottom: 4px solid Orchid;
	transition: 0.2s ease-in-out;
}

#education
{
	transition: 0.2s ease-in-out;
}

#work
{
	transition: 0.2s ease-in-out;
}

#contact
{
	transition: 0.2s ease-in-out;
}

#about:hover
{
	color: Orchid;
	border-bottom: 4px solid Orchid;
}

#education:hover
{
	color: Tomato;
	border-bottom: 4px solid Tomato;
}

#work:hover
{
	color: LightGreen;
	border-bottom: 4px solid LightGreen;
}

#contact:hover
{
	color:Khaki;
	border-bottom: 4px solid Khaki;
}

#aboutContent
{
	margin-top: 10%;
	text-align: center;
	font-size: 125%;
}

#educationContent
{
	margin-top: 10%;
	text-align: center;
	font-size: 125%;
	display: none;
}

#workContent
{
	text-align: center;
	font-size: 125%;
	display: none;
}

#contactContent
{
	margin-top: 10%;
	text-align: center;
	font-size: 125%;
	display: none;
}

#leftEducation
{
	float: left;
	padding-top: 25px;
	padding-left: 25%;
}

#rightEducation
{
	float: right;
	padding-top: 25px;
	padding-right: 30%;
}

#websiteThumbs
{
	color:#bdbdbd;
	overflow: hidden;
}

.thumbnail
{
	padding-bottom: 25px;
	transition: 0.5s ease-in-out;
}

.thumbnail:hover
{
	color: white;
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.thumbnail img
{
	border: 1px solid white;
}

#leftWork
{
	float: left;
	padding-top: 25px;
	padding-left: 12%;
}

#rightWork
{
	float: right;
	padding-top: 25px;
	padding-right: 12%;
}

#socialIcons
{
	padding-top: 50px;
	position: relative;
}


#socialIcons img
{
	margin-left: 5%;
	margin-right: 5%;
	display: inline-block;
}

#socialIcons a
{
	text-decoration: none;
}

.icon
{
	transition: 0.5s ease-in-out;
}

.icon:hover
{
	-webkit-transform: scale(1.5) rotate(360deg);
    transform: scale(1.5) rotate(360deg) ;
    -ms-transform:scale(1.5) rotate(360deg);
    -webkit-transform:scale(1.5) rotate(360deg);
}